:where(html) {
  --base: var(--ctp-latte-base);
  --blue: var(--ctp-latte-blue);
  --crust: var(--ctp-latte-crust);
  --flamingo: var(--ctp-latte-flamingo);
  --green: var(--ctp-latte-green);
  --lavender: var(--ctp-latte-lavender);
  --mantle: var(--ctp-latte-mantle);
  --maroon: var(--ctp-latte-maroon);
  --mauve: var(--ctp-latte-mauve);
  --overlay0: var(--ctp-latte-overlay0);
  --overlay1: var(--ctp-latte-overlay1);
  --overlay2: var(--ctp-latte-overlay2);
  --peach: var(--ctp-latte-peach);
  --pink: var(--ctp-latte-pink);
  --red: var(--ctp-latte-red);
  --rosewater: var(--ctp-latte-rosewater);
  --sapphire: var(--ctp-latte-sapphire);
  --sky: var(--ctp-latte-sky);
  --subtext0: var(--ctp-latte-subtext0);
  --subtext1: var(--ctp-latte-subtext1);
  --surface0: var(--ctp-latte-surface0);
  --surface1: var(--ctp-latte-surface1);
  --surface2: var(--ctp-latte-surface2);
  --teal: var(--ctp-latte-teal);
  --text: var(--ctp-latte-text);
  --yellow: var(--ctp-latte-yellow);

  --link: var(--blue);
  --link-visited: var(--mauve);
  --scrollthumb-color: var(--overray0);
  --surface-1: var(--base);
  --surface-2: var(--surface0);
  --surface-3: var(--surface1);
  --surface-4: var(--surface2);
  --text-1: var(--text);
  --text-2: var(--subtext0);
  color-scheme: latte;
  color: var(--text-1);
}
