@media (prefers-color-scheme: dark) {
  :where(html) {
    --link: var(--ctp-macchiato-blue);
    --link-visited: var(--ctp-macchiato-mauve);
    --scrollthumb-color: var(--ctp-macchiato-overray0);
    --surface-1: var(--ctp-macchiato-base);
    --surface-2: var(--ctp-macchiato-surface0);
    --surface-3: var(--ctp-macchiato-surface1);
    --surface-4: var(--ctp-macchiato-surface2);
    --text-1: var(--ctp-macchiato-text);
    --text-2: var(--ctp-macchiato-subtext0);
    color-scheme: macchiato;
  }
}
