@media (prefers-color-scheme: dark) {
  :where(html) {
    --base: var(--ctp-macchiato-base);
    --blue: var(--ctp-macchiato-blue);
    --crust: var(--ctp-macchiato-crust);
    --flamingo: var(--ctp-macchiato-flamingo);
    --green: var(--ctp-macchiato-green);
    --lavender: var(--ctp-macchiato-lavender);
    --mantle: var(--ctp-macchiato-mantle);
    --maroon: var(--ctp-macchiato-maroon);
    --mauve: var(--ctp-macchiato-mauve);
    --overlay0: var(--ctp-macchiato-overlay0);
    --overlay1: var(--ctp-macchiato-overlay1);
    --overlay2: var(--ctp-macchiato-overlay2);
    --peach: var(--ctp-macchiato-peach);
    --pink: var(--ctp-macchiato-pink);
    --red: var(--ctp-macchiato-red);
    --rosewater: var(--ctp-macchiato-rosewater);
    --sapphire: var(--ctp-macchiato-sapphire);
    --sky: var(--ctp-macchiato-sky);
    --subtext0: var(--ctp-macchiato-subtext0);
    --subtext1: var(--ctp-macchiato-subtext1);
    --surface0: var(--ctp-macchiato-surface0);
    --surface1: var(--ctp-macchiato-surface1);
    --surface2: var(--ctp-macchiato-surface2);
    --teal: var(--ctp-macchiato-teal);
    --text: var(--ctp-macchiato-text);
    --yellow: var(--ctp-macchiato-yellow);

    --link: var(--blue);
    --link-visited: var(--mauve);
    --scrollthumb-color: var(--overray0);
    --surface-1: var(--base);
    --surface-2: var(--surface0);
    --surface-3: var(--surface1);
    --surface-4: var(--surface2);
    --text-1: var(--text);
    --text-2: var(--subtext0);
    color-scheme: macchiato;
    color: var(--text-1);
  }
}
