---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Main from '../components/Main.astro'

import '../style'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
    <meta name="description" content="Web site of Konosuke Sakai (酒井 幸乃介), a Japanese high school student who loves programming, music and creativity." />
	</head>
	<body>
    <Header />
    <Main />
    <Footer />
	</body>
</html>
