---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Main from '../components/Main.astro'

import '../style'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
    <meta name="description" content="Web site of Konosuke Sakai (酒井 幸乃介), a Japanese high school student who loves programming, music and creativity." />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#24273a" />
    <meta name="apple-mobile-web-app-title" content="Macchiato" />
    <meta name="application-name" content="Macchiato" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="theme-color" content="#24273a" />
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js')
      }
    </script>
    <style>
      body {
        display: grid;
        grid-template-rows: auto 1fr auto;
      }
    </style>
	</head>
	<body>
    <Header />
    <Main />
    <Footer />
	</body>
</html>
