---
const date = new Date()
const year = date.getFullYear()
---

<style>
  footer {
    background-color: var(--surface-2);
    display: grid;
    height: 48px;
    place-items: center;
  }
</style>
<footer>
  <p>
    &#169; {year} Konosuke Sakai
  </p>
</footer>
