---
import Icon from 'astro-icon'
import avatar from '../assets/avatar.png'
import logo from '../assets/logo-hybrid.svg'
---

<style>
  .avatar {
    width: 32px;
  }

  .avatar__link {
    padding-block: 0;
    padding-inline: 0;
  }

  .detailsMenu {
    background-color: inherit;
    border-radius: 0;
    padding-block: 0;
    padding-inline: 0;
  }

  .detailsMenu > summary {
    background-color: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .logo {
    height: 32px;
  }

  .logo__container {
    margin-right: auto;
  }

  .navbar {
    border-bottom: 1px solid var(--surface-2);
    box-sizing: content-box;
    height: 56px;
    line-height: 0;
  }

  .navbar li {
    display: inline;
  }

  .navbar li,
  .navbar ul {
    padding-inline-start: 0;
  }

  .navbar ul {
    align-items: center;
    display: flex;
    gap: 16px;
    height: inherit;
    margin: 0 16px;
  }

  .themeToggler {
    background-color: inherit;
    padding: 0;
  }
</style>
<nav class="navbar">
  <ul>
    <li>
      <a
        class="avatar__link"
        href="/profile"
      >
        <img
          alt="Avatar of sakkke."
          class="avatar"
          src={avatar}
        />
      </a>
    </li>
    <li class="logo__container">
      <img
        alt="Logo of Macchiato."
        class="logo"
        src={logo}
      />
    </li>
    <li>
      <button class="themeToggler">
        <Icon
          name="eva:sun-fill"
          size="48"
        />
      </button>
    </li>
    <li>
      <details class="detailsMenu">
        <summary>
          <Icon
            name="eva:menu-fill"
            size="48"
          />
        </summary>
      </details>
    </li>
  </ul>
</nav>
