---
import Icon from 'astro-icon'
import avatar from '../assets/avatar.png'
import logo from '../assets/logo-hybrid.svg'
---

<style>
  .avatar {
    width: 32px;
  }

  .avatar__container {
    /** 48 - 32 = 16 */
    margin-left: 16px;
    width: fit-content;
  }

  .avatar__link {
    padding-block: 0;
    padding-inline: 0;
  }

  .detailsMenu {
    background-color: inherit;
    border-radius: 0;
    padding-block: 0;
    padding-inline: 0;
  }

  .detailsMenu > summary {
    background-color: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .logo {
    height: 24px;
  }

  .navbar {
    box-shadow: var(--shadow-2);
    height: 48px;
    line-height: 0;
  }

  .navbar li {
    display: grid;
    max-inline-size: none;
    place-items: center;
  }

  .navbar li,
  .navbar ul {
    padding-inline-start: 0;
  }

  .navbar > ul {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    height: inherit;
  }

  .themeToggler {
    background-color: inherit;
    padding: 0;
  }

  .utilities__container {
    margin-left: auto;
    margin-right: 16px;
    width: fit-content;
  }

  .utilities__container > ul {
    display: flex;
    gap: 16px;
  }
</style>
<nav class="navbar">
  <ul>
    <li class="avatar__container">
      <a
        class="avatar__link"
        href="/profile"
      >
        <img
          alt="Avatar of sakkke."
          class="avatar"
          src={avatar}
        />
      </a>
    </li>
    <li class="toggleTheme__container">
      <a href="/">
        <img
          alt="Logo of Macchiato."
          class="logo"
          src={logo}
        />
      </a>
    </li>
    <li class="utilities__container">
      <ul>
        <li>
          <button class="themeToggler">
            <Icon
              name="eva:sun-fill"
              size="32"
            />
          </button>
        </li>
        <li>
          <details class="detailsMenu">
            <summary>
              <Icon
                name="eva:menu-fill"
                size="32"
              />
            </summary>
          </details>
        </li>
      </ul>
    </li>
  </ul>
</nav>
