---
import logo from '../assets/logo-hybrid.svg'
---

<style>
  .logo {
    height: 24px;
  }

  .navbar {
    line-height: 0;
  }

  .navbar li {
    max-inline-size: none;
  }

  .navbar li,
  .navbar ul {
    padding-inline-start: 0;
  }
</style>
<nav class="navbar">
  <ul>
    <li>
      <a href="/">
        <img
          alt="Logo of Macchiato."
          class="logo"
          src={logo}
        />
      </a>
    </li>
  </ul>
</nav>
